
 /*FONTS*/
 /*Tekststørrelserne følger denne guide https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html*/
 /*Header text*/   
 h1 {
        font-family: 'Fredoka One', cursive;
        font-size: 4vw;
    }
 h2 {
        font-family: 'Delius', cursive;
        font-size: 3.5vw;
    }


 p {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
    }
 a {
        font-family: 'Delius', cursive;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }

 .navlinks > a,
 .navlinksmobile a {
    font-weight: 800;
    color: #1c4071;
 }
 .padding {
     padding: 10px;
 }

 /*COLORS*/
 /*TEXT*/
 .blue {color: #1c4071}
 .darkgreen {color: #589c83}
 .green {color: #8fb56c;}
 .orange {color: #e6903b}
 .darkorange {color: #de703b}
 .red {color: #e44b45}
 .white {color:#fff}



 /*MOBILE - 600px width and down*/
 /*HVAD DER IKKE SKAL VISES PÅMOBILVERSION*/
 .navlinks, /*skjuler navigationen til laptop*/
 .navlinksmobile, /*skjuler navigationnen til mobil indtil der trykkes på burgermenu*/
 .extralogo, /*skjuler det ekstra logo, som kun kommer frem på large laptop, hvor der er plads*/
 .productlarge, /*skjuler de store produkt billeder*/
 .products, /*skjuler tablet/laptop layoutet for products*/
 .parisertoast, /*skjuler opskrift der først kommer på en større skærm*/
 .parisertoasttext, /* skjuler teksten til en opskrift, der først kommer på en større skærm*/
 .tortila, /*skjuler opskrift der først kommer på en større skærm*/
 .tortilatext, /* skjuler teksten til en opskrift, der først kommer på en større skærm*/
 .vitamintoast, /*skjuler opskrift der først kommer på en større skærm*/
 .vitamintoasttext /* skjuler teksten til en opskrift, der først kommer på en større skærm*/
 {display: none;} 

 body {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas: "nav"
                        "header"
                        "products"
                        "recipes"
                        "articles"
                        "games"
                        "footer";
 }

/*NAVIGATIONSBAR*/
 nav {
        display: grid;
        grid-gap: 10px; /*mellemrum mellem grid areas*/
        grid-template-columns: 4fr 4fr 1fr; /*opdeler navigationsbaren i 3 dele: logo, mellemrum og burgermenu*/
        align-items: center; /* Så logo og burgermenu står på linje*/  
    }

 .logo {
        max-width: 150px; 
    }

 .btn { /*Burger menu*/
        background-image: url(photos/bars.svg);
        background-repeat: no-repeat;
        border-style: none;
        width: 100%;
        background-color: white;
        width: 50px;
        height: 50px;
        padding-bottom: 10px;
    }
 /*
 .barscontainer { 
    display: flex;
    justify-content: end; /*sørger for at burgerikonet er helt til højre*/
 }*/


 .dropdown {
        display: inline-block;
        position: relative;
    }

 .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0; /*så det placeres i midten*/
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: white;
    }

 .dropdown:hover .dropdown-content {
        display: block; 
    }
    
 .dropdown-content a {
        display: block;
        align-items: center;
        color:#1c4071;
        padding: 20px;
        text-decoration: none;
    }

 .dropdown-content a:hover {
        color: #FFFFFF;
        background-color:#de703b;
    }

 /*HEADER*/
 header {
        background-image: url(photos/heroimage_600.png);
        background-repeat: no-repeat;
        height: 539px; /*Så headeren er billedets fulde højde*/
    }

 .herotext {
        z-index: 1; /*så den ligger ovenpå billedet*/
        max-width:35vw;
        padding: 2vw;
    }

 .btn1 {
        background-color:#e6903b;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: max-content;
        border-radius: 12px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-family: 'Delius', cursive;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }

 
 
 /*PRODUCTS SECTION*/
 .sectiontext { /*styling til sektionens headline*/
        background-color: white;
        border: none;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: max-content;
        border-radius: 12px;
        font-family: 'Fredoka One', cursive;
        font-size: 3.5vw;
    }


 .productsmobile {
        background-color: #8fb56c;
        width:100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; /*opdeler products sektionen i tre lige store dele*/
        grid-template-rows: 50px repeat(2, 220px 30px 20px) 150px 30px 20px 60px; /*11 rækker*/
        grid-area: ". sectiontext leaf"
                    ". product1 ."   
                    ". text1 ."
                        "..."     
                    "leaf product2 ." 
                    ". text2 ."
                        "..."
                    ". product3 ." 
                    ". text3 ."
                        "..."  
                    ". button ."    ;
        justify-items: center;
        align-items: center;
    }
 .leaf {
        z-index: 4;
        width:15vw;
    }

 
    


  
 
  







 /* MOBILES (468px and up) */
 /*BURGERMENU*/
 @media only screen and (min-width: 461px){
/*RECIPES*/
.recipes {
    display: grid;
    background-color: white;
    width:100%;
    grid-template-columns: [col] 1fr [col] 1fr; /*opdeler sektionen i to lige store dele*/
    grid-template-rows: [row] 200px [row] 100px [row] 100px;
    justify-items: center;
    align-items: center;
   }

   .pestosandwichtext,
   .pizzasnegletext {
    background-color: #8fb56c;
    max-width: 150px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Delius', cursive;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
       
   }

   .squareimage {
       height: 200px;
       width:200px;
       border-radius: 12px;
   }

.pestosandwich {
   background-image: url(photos/pestosandwich.png);
   background-repeat: no-repeat;
   }

.pizzasnegle {
   background-image: url(photos/pizzasnegle.png);
   background-repeat: no-repeat;
}

.readmore {
   grid-column: col / span 2;
   grid-row: row 3;
}
 }



 /* TABLETS AND LARGE PHONES (600px and up) */
 /*BURGERMENU*/
 @media only screen and (min-width: 600px) {
        .example {background: green;}
        /*Fonts*/
        h2 {font-size: 2.2vw;}
        h1 {font-size: 3vw;}
        
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_992.png);
            background-repeat: no-repeat;
            height: 456px;
        }

        .herotext {
        max-width:35vw;
        }
        /*PRODUCTS SECTIONS*/
        .productsmobile { /*skjuler mobile layoutet for products*/
            display: none;
        }
        .sectiontext {
            font-size: 2vw;
        }
        .products {
            background-color: #8fb56c;
            width:100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /*opdeler products sektionen i tre lige store dele*/
            grid-template-rows: 100px 250px 60px 100px; /*giver hver af de 3 kollonner 4 rækker*/
            grid-area: "    .     sectiontext leaf"
                        "product   product   product"
                        "text1     text2     text3"
                        "   .       button    .";
            justify-items: center;
            align-items: center;
        }

        
    }













  /* BIG TABLETS (768px and up) */
  /*Burger menu*/
 @media only screen and (min-width: 768px) {
        .example {background: blue;}

        /*RECIPES*/
        .recipes {
            display: grid;
            background-color: white;
            width:100%;
            grid-template-columns: [col] 1fr [col] 1fr [col] 1fr; /*opdeler sektionen i tre lige store dele*/
            grid-template-rows: [row] 200px [row] 100px [row] 100px;
            justify-items: center;
            align-items: center;
        }


        .parisertoast { /*parisertoast opskrift tilføjes*/
            display: block;
            background-image: url(photos/parisertoast.png);
            background-repeat: no-repeat;
        }

        .parisertoasttext { /*teksten til parisertoast opskrift vises*/
            display: block;
            background-color: #8fb56c;
            max-width: 150px;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            font-family: 'Delius', cursive;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .readmore {
        grid-column: col / span 3;
        grid-row: row 3;
        }
        
    } 

  







 /* LAPTOP (992px and up) */
 /*NORMAL MENU*/
 @media only screen and (min-width: 992px) {
        .example {background: orange;}

        /*NAVIGATIONS BAREN*/
        .btn,
        .navlinksmobile {
            display: none;/*fjerner burgermenu og mobil navigation*/
        
        } 
        nav {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 3fr; /* Opdeler navigationen i tre dele: logo, mellemrum, links*/
            grid-template-rows: ;
            align-items: center; /*Så logo og links står på linje*/
            background-color: #fff; /*Baggrundsfarve for navigations baren*/
            font-size: 0.5vw; /*Font størrelse der er relativ i til viewport*/
        }
        .navlinks {
            display: flex;
            justify-content: space-around; /*Så der er mellemrum mellem linksne*/
        } 
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_1200.png);
            background-repeat: no-repeat;
            height: 540px;
        } 

        /*PRODUCTS SECTION*/
        .productsmall {
            display: none; /*skjuler de små product-billeder*/
        }
        .productlarge {
            display: block; /*viser de store product-billeder*/
        }
        .products {
            background-color: #8fb56c;
            width:100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /*opdeler products sektionen i tre lige store dele*/
            grid-template-rows: 100px 390px 100px 100px; /*giver hver af de 3 kollonner 4 rækker*/
            grid-area: "    .     sectiontext leaf"
                        "product   product   product"
                        "text1     text2     text3"
                        "   .       button    .";
            justify-items: center;
            align-items: center;
        }

        /*RECIPES*/
        .recipes {
            display: grid;
            background-color: white;
            width:100%;
            grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr; /*opdeler sektionen i fire lige store dele*/
            grid-template-rows: [row] 200px [row] 100px [row] 100px;
            justify-items: center;
            align-items: center;
        }

        .tortila { /*tortila opskrift tilføjes*/
            display: block;
            background-image: url(photos/tortila.png);
            background-repeat: no-repeat;
        }

        .tortilatext { /*teksten til parisertoast opskrift vises*/
            display: block;
            display: block;
            background-color: #8fb56c;
            max-width: 150px;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            font-family: 'Delius', cursive;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .readmore {
        grid-column: col / span 4;
        grid-row: row 3;
        }
        

    } 
  












  /*LARGE LAPTOP (1200px and up) */
  /*NORMAL MENU - kode står i Medium devices*/
  
  @media only screen and (min-width: 1200px) {
        .example {background: pink;}
        /*Fonts*/
        h2 {font-size: 1.5vw;}
        h1 {font-size: 2.5vw;}
        /*NAV*/
        nav {
            grid-template-columns: 1fr 2fr 3fr; /* Mere mellemrum mellem logo og links*/
            font-size: 1vw; /*større font størrelse*/
        }
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_1500.png);
            background-repeat: no-repeat;
            height: 680px;
        }

        .extralogo {
            display: block;
            width: 25vw;
        }

         /*RECIPES*/
         .recipes {
            display: grid;
            background-color: white;
            width:100%;
            grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr; /*opdeler sektionen i fem lige store dele*/
            grid-template-rows: [row] 200px [row] 100px [row] 100px;
            justify-items: center;
            align-items: center;
        }

        .vitamintoast { /*vitamin-booster opskriften tilføjes*/
            display: block;
            background-image: url(photos/vitamintoast.png);
            background-repeat: no-repeat;
        }

        .vitamintoasttext { /*teksten til vitamin-booster toasten opskrift vises*/
            background-color: #8fb56c;
            max-width: 150px;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            font-family: 'Delius', cursive;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .readmore {
        grid-column: col / span 5;
        grid-row: row 3;
        }
        
    }






















 /*________________________________________________________________________________________________________________*/






    /*LARGE LAPTOP (1500px and up) */
  /*NORMAL MENU - kode står i Medium devices*/
  
  @media only screen and (min-width: 1500px) {
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_2000.png);
            background-repeat: no-repeat;
            height: 848px;
        }
        

    
    }