
 /*FONTS*/
 h1 {
        font-family: 'Fredoka One', cursive;
        font-size: 6vw;
    }
 h2 {
        font-family: 'Delius', cursive;
        font-size: 3.5vw;
    }


 p {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
    }
 a {
        font-family: 'Delius', cursive;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }

 .navlinks > a,
 .navlinksmobile a {
    font-weight: 800;
    color: #1c4071;
 }
 .padding {
     
     padding-left: 20px;
 }

 /*COLORS*/
 .blue {color: #1c4071}
 .darkgreen {color: #589c83}
 .green {color: #8fb56c;}
 .orange {color: #e6903b}
 .darkorange {color: #de703b}
 .red {color: #e44b45}
 .white {color:#fff}

 /*MOBILE - 600px width and down*/

 /*HVAD DER IKKE SKAL VISES PÅMOBILVERSION*/
 .navlinks, /*skjuler navigationen til laptop*/
 .navlinksmobile, /*skjuler navigationnen til mobil indtil der trykkes på burgermenu*/
 .extralogo, /*skjuler det ekstra logo, som kun kommer frem på large laptop, hvor der er plads*/
 .productlarge, /*skjuler de store produkt billeder*/
 .products, /*skjuler tablet/laptop layoutet for products*/
 .parisertoast, /*skjuler opskrift der først kommer på en større skærm*/
 .parisertoasttext, /* skjuler teksten til en opskrift, der først kommer på en større skærm*/
 .tortila, /*skjuler opskrift der først kommer på en større skærm*/
 .tortilatext, /* skjuler teksten til en opskrift, der først kommer på en større skærm*/
 .vitamintoast, /*skjuler opskrift der først kommer på en større skærm*/
 .vitamintoasttext, /* skjuler teksten til en opskrift, der først kommer på en større skærm*/
 .boywithhat, /*skjuler artikel der først kommer på en større skærm*/
 .boywithhattext, /* skjuler tekstboksen til en artikel, der først kommer på en større skærm*/
 .boy, /*skjuler artikel der først kommer på en større skærm*/
 .boytext, /* skjuler tekstboksen til en artikel, der først kommer på en større skærm*/
 .cooking, /*skjuler artikel der først kommer på en større skærm*/
 .cookingtext, /* skjuler tekstboksen til en artikel, der først kommer på en større skærm*/
 .articles, /*skjuler laptop-layoutet til articles*/
 .recipes, /*skjuler laptop-layoutet til articles*/
 .ingredientslaptop, /*skjuler layoutet til laptop til ingredienserne.*/
 .space, /*whitespace, der skjules på mobilversion*/
 .leaf1 /*skjuler dekorativt blad på opskriften*/
 {display: none;} 

 

/*NAVIGATIONSBAR*/
 nav {
        display: grid;
        grid-gap: 10px; /*mellemrum mellem grid areas*/
        grid-template-columns: 4fr 4fr 1fr; /*opdeler navigationsbaren i 3 dele: logo, mellemrum og burgermenu*/
        align-items: center; /* Så logo og burgermenu står på linje*/  
    }

 .logo {
        max-width: 150px; 
    }

 .btn { /*Burger menu*/
        background-image: url(photos/bars.svg);
        background-repeat: no-repeat;
        border-style: none;
        width: 100%;
        background-color: white;
        width: 50px;
        height: 50px;
        padding-bottom: 10px;
    }
 /*
 .barscontainer { 
    display: flex;
    justify-content: end; /*sørger for at burgerikonet er helt til højre*/
 }*/


 .dropdown {
        display: inline-block;
        position: relative;
    }

 .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0; /*så det placeres i midten*/
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: white;
    }

 .dropdown:hover .dropdown-content {
        display: block; 
    }
    
 .dropdown-content a {
        display: block;
        align-items: center;
        color:#1c4071;
        padding: 20px;
        text-decoration: none;
    }

 .dropdown-content a:hover {
        color: #FFFFFF;
        background-color:#de703b;
    }

 /*HEADER*/
 header {
        background-image: url(photos/heroimage_600.png);
        background-repeat: no-repeat;
        height: 539px; /*Så headeren er billedets fulde højde*/
    }

 .herotext {
        z-index: 1; /*så den ligger ovenpå billedet*/
        max-width:35vw;
        padding: 2vw;
    }

 .btn1 {
        background-color:#e6903b;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: max-content;
        border-radius: 12px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-family: 'Delius', cursive;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }

 
 
 /*PRODUCTS SECTION*/
 .sectiontext { /*styling til sektionens headline*/
        background-color: white;
        border: none;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: max-content;
        border-radius: 12px;
        font-family: 'Fredoka One', cursive;
        font-size: 3.5vw;
    }


 .productsmobile {
        background-color: #8fb56c;
        width:100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; /*opdeler products sektionen i tre dele*/
        grid-template-rows: 50px repeat(2, 220px 30px 20px) 150px 30px 20px 85px; /*11 rækker*/
        justify-items: center;
        align-items: center;
    }
 .leaf {
        z-index: 4;
        width:15vw;
    }

 /*RECIPES*/
 .articletext { /*Styling af tekstboksene under artikler og opskrifter*/
    background-color: #8fb56c;
    max-width: 150px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Delius', cursive;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 .squareimage { /*styling af billederne til opskrifterne og artiklerne*/
    height: 200px;
    width:200px;
    border-radius: 12px;
 }
 
 .articlesmobile, 
 .recipesmobile {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(2, 220px 70px 20px) 50px; /*8 rækker*/
     align-items: center;
     justify-items: center;
 }
 
 
 .pestosandwich {
    background-image: url(photos/pestosandwich.png);
    background-repeat: no-repeat;
    }
 
  .pizzasnegle {
    background-image: url(photos/pizzasnegle.png);
    background-repeat: no-repeat;
     }
  .backpack {
     background-image: url(photos/backpack.png);
     background-repeat: no-repeat;
  }
  .newfood {
     background-image: url(photos/newfood.png);
     background-repeat: no-repeat;
  }
    
 /*PESTO SANDWICH OPSKRIFT*/
 .headerrecipe {
        background-image: url(photos/sandwich_468.png);
        background-repeat: no-repeat;
        height: 278px; /*Så headeren er billedets fulde højde*/
    }
 .ingredientsmobile {
    background-color: #8fb56c;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /*opdeler products sektionen i tre dele*/
    grid-template-rows: 50px 220px 67px 20px 160px 30px 20px 150px 40px 20px 110px 30px 20px 110px 30px 20px; /*11 rækker*/
    justify-items: center;
    align-items: center;
}

.ingredientsmobile > h2,
.ingredientslaptop > h2 {
    max-width: 120px;
    text-align: center;
}

.stepbystep {
    display:grid;
    grid-template-columns: 1fr; 
    justify-items: center;
}


.stepbystep >img {
    border-radius: 12px;
}
.stepbystep >p {
    max-width: 340px;
}

.greens {width: 200px}

.stepbystep > .btn1 {
    align-self: center;
}
 
 
    

 

 
  

   
   


  
 
  







 /* MOBILES (468px and up) */
 /*BURGERMENU*/
 @media only screen and (min-width: 461px){
 /*RECIPES*/
 .recipesmobile,
 .articlesmobile {
    display: none;
 }
.recipes,
.articles {
    display: grid;
    background-color: white;
    width:100%;
    grid-template-columns: [col] 1fr [col] 1fr; /*opdeler sektionen i to lige store dele*/
    grid-template-rows: [row] 200px [row] 100px [row] 100px;
    justify-items: center;
    align-items: center;
   }

   .pestosandwichtext, /*teksterne til to opskrifter og to artikler vises*/
   .pizzasnegletext,
   .backpacktext,
   .newfoodtext {
    display: inline-block;
   }

 .readmore {
   grid-column: col / span 2;
   grid-row: row 3;
}

/*PESTO SANDWICH OPSKRIFT*/
.headerrecipe {
    background-image: url(photos/sandwich_600.png);
    background-repeat: no-repeat;
    height: 357px; /*Så headeren er billedets fulde højde*/
}
 }



 /* TABLETS AND LARGE PHONES (600px and up) */
 /*BURGERMENU*/
 @media only screen and (min-width: 600px) {
        .example {background: green;}
        /*Fonts*/
        h2 {font-size: 2.2vw;}
        h1 {font-size: 3vw;}
        
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_992.png);
            background-repeat: no-repeat;
            height: 456px;
        }

        .herotext {
        max-width:35vw;
        }
        /*PRODUCTS SECTIONS*/
        .productsmobile,
        .ingredientsmobile { /*skjuler mobile layoutet for products og ingredienser*/
            display: none;
        }
        .sectiontext {
            font-size: 2vw;
        }
        .products {
            background-color: #8fb56c;
            width:100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /*opdeler products sektionen i tre lige store dele*/
            grid-template-rows: 100px 250px 60px 100px; /*giver hver af de 3 kollonner 4 rækker*/
            grid-area: "    .     sectiontext leaf"
                        "product   product   product"
                        "text1     text2     text3"
                        "   .       button    .";
            justify-items: center;
            align-items: center;
        }
    
        /*PESTO SANDWICH OPSKRIFT*/
        .headerrecipe {
            background-image: url(photos/sandwich_768.png);
            background-repeat: no-repeat;
            height: 353px;
        }
        .ingredientslaptop {
            background-color: #8fb56c;
            width:100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /*opdeler products sektionen i tre lige store dele*/
            grid-template-rows: 100px 250px 50px 150px 50px 70px; /*giver hver af de 3 kollonner 4 rækker*/
            grid-area: "    .     sectiontext leaf"
                        "product   product   product"
                        "text1     text2     text3"
                        "   .       button    .";
            justify-items: center;
            align-items: center;
        }
        .stepbystep {
            display:grid;
            grid-template-columns: 330px 1fr; 
            justify-items: center;
        }
        
        .stepbystep >img {
            border-radius: 12px;
        }
        .stepbystep > p {
            justify-self: start;
            align-self: start;
        }
        .leaf1 {
        display: block;    
        width: 100px;
        justify-self:start;}
        
        .greens {width: 200px}
        
        .stepbystep > .btn1 {
            align-self: center;
        }
    }













  /* BIG TABLETS (768px and up) */
  /*Burger menu*/
 @media only screen and (min-width: 768px) {
        .example {background: blue;}

        /*RECIPES*/
        .recipes,
        .articles {
            display: grid;
            background-color: white;
            width:100%;
            grid-template-columns: [col] 1fr [col] 1fr [col] 1fr; /*opdeler sektionen i tre lige store dele*/
            grid-template-rows: [row] 200px [row] 100px [row] 100px;
            justify-items: center;
            align-items: center;
        }


        .parisertoast { /*parisertoast opskrift tilføjes*/
            display: block;
            background-image: url(photos/parisertoast.png);
            background-repeat: no-repeat;
        }

        .parisertoasttext { /*teksten til parisertoast opskrift vises*/
            display: inline-block;
        }

        .boywithhat { /*artiklen "Sådan taler du med dit barn om hvor mad kommer fra" vises*/
            display: block;
            background-image: url(photos/boywithhat.png);
            background-repeat: no-repeat;
        }

        .boywithhattext { /*tekstboksen til ovenstående artikel vises*/
            display: inline-block;
        }

        .readmore {
        grid-column: col / span 3;
        grid-row: row 3;
        }
        /*PESTO SANDWICH OPSKRIFT*/
        .headerrecipe {
            background-image: url(photos/sandwich_992.png);
            background-repeat: no-repeat;
            height: 456px;
        }
       
        
    } 

  







 /* LAPTOP (992px and up) */
 /*NORMAL MENU*/
 @media only screen and (min-width: 992px) {
        .example {background: orange;}

        /*NAVIGATIONS BAREN*/
        .btn,
        .navlinksmobile {
            display: none;/*fjerner burgermenu og mobil navigation*/
        
        } 
        nav {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 3fr; /* Opdeler navigationen i tre dele: logo, mellemrum, links*/
            grid-template-rows: ;
            align-items: center; /*Så logo og links står på linje*/
            background-color: #fff; /*Baggrundsfarve for navigations baren*/
            font-size: 0.5vw; /*Font størrelse der er relativ i til viewport*/
        }
        .navlinks {
            display: flex;
            justify-content: space-around; /*Så der er mellemrum mellem linksne*/
        } 
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_1200.png);
            background-repeat: no-repeat;
            height: 540px;
        } 

        /*PRODUCTS SECTION*/
        .productsmall {
            display: none; /*skjuler de små product-billeder*/
        }
        .productlarge {
            display: block; /*viser de store product-billeder*/
        }
        .products {
            background-color: #8fb56c;
            width:100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /*opdeler products sektionen i tre lige store dele*/
            grid-template-rows: 100px 390px 100px 100px; /*giver hver af de 3 kollonner 4 rækker*/
            grid-area: "    .     sectiontext leaf"
                        "product   product   product"
                        "text1     text2     text3"
                        "   .       button    .";
            justify-items: center;
            align-items: center;
        }

        /*RECIPES*/
        .recipes,
        .articles {
            display: grid;
            background-color: white;
            width:100%;
            grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr; /*opdeler sektionen i fire lige store dele*/
            grid-template-rows: [row] 200px [row] 100px [row] 100px;
            justify-items: center;
            align-items: center;
        }

        .tortila { /*tortila opskrift tilføjes*/
            display: block;
            background-image: url(photos/tortila.png);
            background-repeat: no-repeat;
        }

        .tortilatext { /*teksten til parisertoast opskrift vises*/
            display: inline-block;
        }

        .boy { /*artiklen "7 tips til at få dit barn involveret i madlavningen" vises*/
            display: block;
            background-image: url(photos/boy.png);
            background-repeat: no-repeat;
        }

        .boytext { /*tekstboksen til ovenstående artikel vises*/
            display: inline-block;
        }

        .readmore {
        grid-column: col / span 4;
        grid-row: row 3;
        }
        /*PESTO SANDWICH OPSKRIFT*/
        .space {display:block;}
        .headerrecipe {
            background-image: url(photos/sandwich_1200.png);
            background-repeat: no-repeat;
            height: 540px;
        }
        .stepbystep {
            display:grid;
            grid-template-columns: 330px 2fr 20px 330px 2fr; /*5 kolonner*/
            grid-template-rows: 100px 220px 220px 220px 220px;
            justify-items: center;
        }

        .stepbystep >img {
            border-radius: 12px;
        }
        .stepbystep > p {
            justify-self: start;
            align-self: start;
        }
        .leaf1 {
        width: 100px;
        justify-self:start;}

        .greens {width: 200px}

        .stepbystep > .btn1 {
            align-self: center;
        }

    } 
  












  /*LARGE LAPTOP (1200px and up) */
  /*NORMAL MENU - kode står i Medium devices*/
  
  @media only screen and (min-width: 1200px) {
        .example {background: pink;}
        /*Fonts*/
        h2 {font-size: 1.5vw;}
        h1 {font-size: 2.5vw;}
        /*NAV*/
        nav {
            grid-template-columns: 1fr 2fr 3fr; /* Mere mellemrum mellem logo og links*/
            font-size: 1vw; /*større font størrelse*/
        }
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_1500.png);
            background-repeat: no-repeat;
            height: 680px;
        }

        .extralogo {
            display: block;
            width: 25vw;
        }

         /*RECIPES*/
         .recipes,
         .articles {
            display: grid;
            background-color: white;
            width:100%;
            grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr; /*opdeler sektionen i fem lige store dele*/
            grid-template-rows: [row] 200px [row] 100px [row] 100px;
            justify-items: center;
            align-items: center;
        }

        .vitamintoast { /*vitamin-booster opskriften tilføjes*/
            display: block;
            background-image: url(photos/vitamintoast.png);
            background-repeat: no-repeat;
        }

        .vitamintoasttext { /*teksten til vitamin-booster toasten opskrift vises*/
            display: inline-block;
        }

        .cooking { /*artiklen "Lær dit barn om sundhed gennem madlavning" vises*/
            display: block;
            background-image: url(photos/cooking.png);
            background-repeat: no-repeat;
        }

        .cookingtext { /*tekstboksen til ovenstående artikel vises*/
            display: inline-block;
        }

        .readmore {
        grid-column: col / span 5;
        grid-row: row 3;
        }

        /*PESTO SANDWICH OPSKRIFT*/
        .headerrecipe {
            background-image: url(photos/sandwich_1500.png);
            background-repeat: no-repeat;
            height: 644px;
        }
        
    }






















 /*________________________________________________________________________________________________________________*/






    /*LARGE LAPTOP (1500px and up) */
  /*NORMAL MENU - kode står i Medium devices*/
  
  @media only screen and (min-width: 1500px) {
        /*HEADER*/
        header {
            background-image: url(photos/heroimage_2000.png);
            background-repeat: no-repeat;
            height: 848px;
        }
        /*PESTO SANDWICH OPSKRIFT*/
        .headerrecipe {
            background-image: url(photos/sandwich_1700.png);
            background-repeat: no-repeat;
            height: 603px;
        }
        

    
    }